<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="layout :: page">
<head>
<title th:fragment="title">Events</title>
<script src="content-script.js"></script>
</head>
<body>
	<section th:fragment="content" class="col-sm-5">
		<script>
			page = "home";
		</script>
		<div th:if="${param.error}">Invalid username or password.</div>
		<form class="form-horizontal" th:object="${userForm}" method="post">
			<input type="hidden" th:field="*{id}" id="id" />
			<h2 class="form-signin-heading">Create an account</h2>
			<label for="inputName" class="sr-only">Account name</label> <input
				type="text" id="inputName" class="form-control" placeholder="Account name"
				autofocus="autofocus" th:field="*{name}" required="required" />
				<br></br>
			<label for="inputEmail" class="sr-only">Email address</label> <input
				type="email" id="inputEmail" class="form-control" placeholder="Email address"
				autofocus="autofocus" th:field="*{email}" required="required" />
				<br></br>
			<label for="inputPassword" class="sr-only">Password</label> <input
				type="password" id="inputPassword" class="form-control"
				placeholder="Password" required="required" th:field="*{password}" />
				<br></br>
			<button class="btn btn-primary" type="submit">Register</button>
		</form>

	</section>

</body>
</html>