<div class="row panel" style="margin-top: 2%;">
	<div class="panel-heading lead">
		<div class="row">
			<div class="col-lg-8 col-md-8">{{event.name}}</div>
		</div>
	</div>
	<div class="panel-body row">
		<div class="table-responsive panel col-lg-12 col-md-12">
			<table class="table">
				<tbody>
					<tr>
						<td class="text-info col-lg-2">Location</td>
						<td class="col-lg-3">{{event.location.name}}</td>
						<td class="col-lg-3">{{event.location.zipCode}}
							{{event.location.city}}, {{event.location.address}}
							<a href="#" class="link" [routerLink]="['../../', 'map', event.id]">(Show on map)</a></td>
					</tr>
					<tr>
						<td class="text-info">Start date &amp; end date</td>
						<td>{{event.startsAt}}</td>
						<td>{{event.endsAt}}</td>
					</tr>
					<tr>
						<td class="text-info">Summary</td>
						<td>{{event.summary}}</td>
					</tr>
					<tr>
						<td class="text-info">Description</td>
						<td>{{event.description}}</td>
					</tr>
					<tr>
						<td class="text-info">Types</td>
						<td><p *ngFor="let type of event.types">{{type}}</p></td>
					</tr>

					<tr>
						<td class="text-info">Prices</td>
						<td><p *ngFor="let price of event.prices">{{price.type}}:
								{{price.amount}} {{price.currency}}</p></td>
					</tr>
					<tr>
						<td class="text-info">Web URL</td>
						<td><a href={{event.webUrl}}>{{event.webUrl}}</a></td>
					</tr>
					<tr>
						<td class="text-info">Facebook URL</td>
						<td><a href={{event.fbUrl}}>{{event.fbUrl}}</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

</div>