<ng-container *ngIf="user">
<div class="alert alert-success" [ngClass]="{'hidden': !success}"
	role="alert">
	<span class="glyphicon glyphicon-ok" aria-hidden="true"></span> <span
		class="sr-only">Success:</span> Changes saved
</div>
<form class="form-horizontal" method="post" (ngSubmit)="onSubmit()">
	<input type="hidden" [(ngModel)]="user.id" name="id" />

	<div class="form-group">
		<label for="email" class="col-sm-2 control-label">Email</label>
		<div class="col-sm-10">
			<input type="email" class="form-control" id="email"
				required="required" [(ngModel)]="user.email" name="email" />
		</div>
	</div>
	<div class="form-group">
		<label for="password" class="col-sm-2 control-label">Password</label>
		<div class="col-sm-10">
			<input type="password" class="form-control" id="password"
				required="required" [(ngModel)]="user.password" name="password" />
		</div>
	</div>
	<div class="form-group">
		<label for="emailNotif" class="col-sm-4 control-label">Email
			notification enabled</label>
		<div class="col-sm-8">
			<input type="checkbox" id="emailNotif" name="emailNotif"
				[(ngModel)]="user.settings.emailNotificationEnabled" value="">
		</div>
	</div>
	<div class="form-group">
		<label for="androidNotif" class="col-sm-4 control-label">Android
			notification enabled</label>
		<div class="col-sm-8">
			<input type="checkbox" id="androidNotif" name="androidNotif"
				[(ngModel)]="user.settings.androidNotificationEnabled" value="">
		</div>
	</div>
	<div class="form-group">
		<label for="eventNotif" class="col-sm-4 control-label">Event
			notification enabled</label>
		<div class="col-sm-8">
			<input type="checkbox" id="eventNotif" name="eventNotif"
				[(ngModel)]="user.settings.eventNotificationEnabled" value=""
				[disabled]="user.settings.androidNotificationEnabled === false && user.settings.emailNotificationEnabled === false">
		</div>
	</div>
	<div class="form-group">
		<label for="locNotif" class="col-sm-4 control-label">Location
			notification enabled</label>
		<div class="col-sm-8">
			<input type="checkbox" id="locNotif" name="locNotif"
				[(ngModel)]="user.settings.locationNotificationEnabled" value=""
				[disabled]="user.settings.androidNotificationEnabled === false && user.settings.emailNotificationEnabled === false">
		</div>
	</div>
	<div class="form-group">
		<label for="advNotif" class="col-sm-4 control-label">Advertiser
			notification enabled</label>
		<div class="col-sm-8">
			<input type="checkbox" id="advNotif" name="advNotif"
				[(ngModel)]="user.settings.advertiserNotificationEnabled" value=""
				[disabled]="user.settings.androidNotificationEnabled === false && user.settings.emailNotificationEnabled === false">
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button type="submit" class="btn btn-primary">Save changes</button>
		</div>
	</div>
</form>
</ng-container>