<h2>Events</h2>
<div class="row">
	<label>Search</label>
</div>
<div class="row searchFields">
	<input type="text" [(ngModel)]="nameString" id="nameSearch"
		placeholder="Name"> <input type="text"
		[(ngModel)]="cityString" id="citySearch" placeholder="City"> <input
		type="text" [(ngModel)]="locationString" id="locSearch"
		placeholder="Location name">
</div>
<div class="row searchFields">
	<label>From</label>
	<date-picker [(ngModel)]="startDate"></date-picker>
	<label>To</label>
	<date-picker [(ngModel)]="endDate"></date-picker>
</div>
<div class="row searchFields">
	<label>Categories</label>
	<div  *ngFor="let type of types">
	<label>{{type.name}}</label>
	<input type="checkbox" value="">
	</div>
</div>
<div class="row">
	<div
		class="card card-outline-secondary col-lg-4 col-sm-6 col-xs-12 text-center"
		*ngFor="let event of events | NamePipe: nameString | LocationPipe: locationString | CityPipe: cityString | StartDatePipe: startDate | EndDatePipe: endDate">
		<div class="card-block">
			<h4 class="card-title">{{event.name}}</h4>
			<ul class="list-group list-group-flush">
				<li class="list-group-item">{{event.summary | limitTo: 100}}</li>
				<li class="list-group-item">{{event.location.name}}</li>
				<li class="list-group-item">{{event.location.zipCode}}
					{{event.location.city}}, {{event.location.address}}</li>
				<li class="list-group-item">{{event.startsAt}}</li>
			</ul>
			<div class="card-block">
				<a class="card-link" [routerLink]="['../', 'map', event.id]">Show
					map</a> <a class="card-link" routerLinkActive="active"
					[routerLink]="['../', 'details', event.id]">Show more</a>
			</div>
		</div>
	</div>

</div>